body {
  background-image: url("https://dncache-mauganscorp.netdna-ssl.com/cropped-wallpapers/1422/1422592-1280x800-[DesktopNexus.com].jpg?st=6nXDuXS-aeoYoiQ4ZOOASg&e=1484097823")
}

h1 {
  color: white;
  font-family: lobster;
}

h2 {
  color: white;
  font-family: lobster;
}

h3 {
  color: black;
  font-family: lobster;
}